%div.container
  %h2 Listing Campaigns
  %br
  %table.table.table-striped.table-hover.table-bordered
    %tbody
      - @campaigns.each do |campaign|
        %tr
          %td{width: "50%"}= campaign.title
          %td{width: "25%"}= link_to 'Profiles', campaign_profiles_path(campaign)
          %td{width: "25%"}= link_to 'Actions', campaign_path(campaign.id)

  %br

  %p= link_to 'New Campaign', new_campaign_path
