// Place all the styles related to the Papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header, {
  position: relative;
  padding: 10px 0;
  background-color: #337ab7;
  border-color: #337ab7;
  font-size: 20px;
}
.profile-header h1 {
  margin-top: 0;
  color: #fff;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
}
.profile-header h6 {
  margin-top: 0;
  color: #fff;
  line-height: 1;
  font-size: 14px;
}
.profile-header a {
  margin-top: 0;
  color: #fff;
  line-height: 1;
  font-size: 12px;
}
.profile-header .container {
  position: relative;
}
.picture{
  padding: 7px!important;
}
.picture img {
  margin: 0!important;
  max-height: 80px;
  max-width: 80px;
  padding:1px;
  border:1px solid #c7ddef;
}
.block_radio_button_collection {
  display: block;
}
.block_radio_button_collection label{
  display: block;
}
.form-control{
  height: 30px;
  padding: 0px 6px;
}
