-# navigation styled for Bootstrap 3.0
%div.navbar.navbar-default.navbar-fixed-top
  %div.container-fluid
    %div.navbar-header
      %div.navbar-brand= image_tag("/images/logo.png", width: "20px", height: "20px" )
      %button.navbar-toggle(data-target=".navbar-collapse" data-toggle="collapse" type="button")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
